:root {
    --green: #00bf63;
    --white: #ffffff;
    --black: #000000;
  }

* {
    background-color: var(--white);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    margin: 0 15px;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: color 0.2s;
}

nav ul li a:hover {
    color: var(--green);
    transition: color 0.2s;
}

#main {
    margin-top: 50px;
    text-align: center;
}

#row {
    display: flex;
}

#col1, #col2 {
    flex: 1;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#col1 {
    padding: 50px 50px 50px 80px;
}

#col1 h2 {
    color: var(--green);
    font-size: 3rem;
}

#col1 p {
    font-size: 1.8rem;
    color: var(--black);
}

#col2 {
    padding: 30px 80px 30px 80px;
}

.learn-more {
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
    border: 5px solid, var(--green);
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.popup-content {
    padding: 20px;
    max-width: 80%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    text-align: center;
}
.popup-content h2 {
    color: var(--green);
}

.close-button {
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--green);
}

.container {
    display: grid;
    grid-template-areas: "menu content list";
    grid-template-columns: 1fr 2fr 1fr;
    gap: 5px;
    padding: 5px;
    margin-top: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
  }

.container > div.menu, .container > div.content {
    grid-area: menu;
    text-align: center;
}

.container > div.menu table th, .container > div.menu table td {
    border: 1px solid var(--black);
    padding: 10px;
    margin-right: 10px;
}

.container > div.menu table td:hover {
    background-color: lightgray;
    cursor: pointer;
}

.container > div.menu table {
    width: 100%;
}

.container > div.menu form {
    margin-top: 20px;
}

.container > div.menu input {
    padding: 10px;
    border: 1px solid var(--black);
    border-radius: 5px;
}

.container > div.menu button, .container > div.content button {
    height: 35px;
    background-color: var(--white);
    color: var(--black);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid var(--black);
    transition: background-color .2s;
    border-radius: 5px;
}

.container > div.menu button:hover, .container > div.content button:hover {
    background-color: lightgray;
    cursor: pointer;
    transition: background-color .2s;
}

#clear-kitchen {
    margin-top: 10px;
    width: 100px;
}

.container > div.menu label {
    font-size: 20px;
}

.container > div.content {
    grid-area: content;
}

.container > div.content select {
    height: 35px;
}

.container > div.content table {
    width: 100%;
}

.container > div.content table th, .container > div.content table td {
    border: 1px solid var(--black);
    padding: 10px;
    margin-right: 10px;
}

.container > div.list {
    text-align: center;
}